@import 'reset';
@import 'variables';
@import 'stats-badge';

#main-container {
  margin-top: -64px; /* Negative of navbar height. Added as padding-top on inner-container */
}

#inner-container {
  padding-top: 64px;
}

.start-quiz-container, .report-issue-container, .login-container, .register-container {
  margin-top: 40px;
}


.code-block {
  border: 1px solid lightgray;
  border-radius: 5px;
  font-family: monospace;
  background-color: rgb(247, 247, 249);
  color: $code-color;
  padding: 2px;
}

.description-text {
  // padding: 10px 15px;
  // font-family: monospace;
  font-size: 14px;
}

.task-card {
  line-height: 1.8;
}

.task-card, .hint-card {
  background-color: #fbfbfb;
}

#assignment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

#assignment-editor-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 65%;
  background-color: $ace-editor-color;
}

#assignment-sidebar {
  flex: 1 1 35%;
  padding: 0 20px;
  background-color: #fff;
  overflow-y: auto;
}

#editor-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#assignment-editor {
  flex: 1 1 55%;
  border-right: 15px solid $grey;
  margin: 10px 0;
  display: flex;
  position: relative;
}

#assignment-output {
  display: flex; // display: flex to ensure align-items: stretch on child, this makes output-wrapper to fill 100% of parent.
  flex: 1 1 45%;
  background-color: #000;
  color: #fff;
}

#input-editor {
  position: absolute; // absolute position relative to output-wrapper
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}


#output-console {
  position: absolute; // absolute position relative to output-wrapper
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 15px 15px;
  font-family: monospace;
  font-size: 16px;
  border: 1px solid #000;
  resize: none;
}

#output-wrapper {
  position: relative;
  flex: 1;
}

.output-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  &.task {
    top: auto;
    left: auto;;
    right: 20px;
    bottom: 15px;
    transform: none;
    z-index: 9999; // Ensure that the button is always over the output-console
  }

  > .big {
    width: 128px;
    height: 128px;
  }
}

#skip-button {
  transition: background-color ease 1s;
}

#submit-button {
  transition: all ease 0.5s;
  opacity: 1;
  &.is-visible {
    transform: scale(1);
  }
  &.is-hidden {
    transform: scale(0);
  }
}

#assignment-action-bar {
  // flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px;
  background-color: #757575;

  > .assignment-action-bar-controls {
      button {
        margin-left: 10px;
      }
  }

  > .btn-report {
    background-color: #cccccc;
    float: left;
  }
}

.assignment-action-bar-report {
  flex: 1 1 40%;
}

.banner {
  text-align: center;
  padding: 5px 0;
  &--grey {
    background-color: lighten($grey, 15%);
  }
}
